<li><a href="/<%= @coop.slug %>/calendar"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calendar</a></li>
<li><a href="/<%= @coop.slug %>/classes"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Classes</a></li>
<li><a href="/<%= @coop.slug %>/classes"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Directory</a></li>
<li><a href="/<%= @coop.slug %>/classes"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Administration</a></li>
<li><a href="/<%= @coop.slug %>/classes"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Reports</a></li>
<li><a href="/<%= @coop.slug %>/classes"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email</a></li>

